<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
<title>TITLE</title>
<link rel="stylesheet" href="/static/stylesheets/reset.css">
<link rel="stylesheet" href="/static/stylesheets/skrollr.css">
<script type="text/javascript" src="/static/javascripts/jquery-1.11.2.min.js"></script>

</head>
<body>
<div id="fix_area">
  <ul>
    <li data-0="opacity:0;display:none;" data-200="display:block;" data-400="opacity:1;" data-900="" data-4000="opacity:0;display:none;">item</li>
    <li data-0="opacity:0;display:none;" data-1200="display:block;" data-1400="opacity:1;" data-1900="" data-4000="opacity:0;display:none;">item</li>
    <li data-0="opacity:0;display:none;" data-2200="display:block;" data-2400="opacity:1;" data-2900="" data-4000="opacity:0;display:none;">item</li>
    <li data-0="opacity:0;display:none;" data-3200="display:block;" data-3400="opacity:1;" data-3900="" data-4000="opacity:0;display:none;">item</li>
  </ul>
</div>
<!-- fix_area -->
<div id="skrollr-body">
</div>
<!-- scrollr-body -->
</body>
<script type="text/javascript" src="/static/javascripts/skrollr.min.js"></script>
<script type="text/javascript">
    var s = skrollr.init();
</script>
</html>
